<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="YasinHabib_CPRG200_Lab4_LINQ_.Properties.Settings.NorthWindConnectionString"
            connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=NorthWind;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>